.text {
    display:inline-block;
    line-height:0px;    
    font-size:16px;
    text-align: center;
}

.text span {
    display:inline-block;
    padding-top:5px;
    padding-top:5px;
}

.textWhenLate {
    display:inline-block;
    line-height:0px;
    color: #F40513;
    font-size:16px;
    text-align: center;
}

.textWhenLate span {
    display:inline-block;
    padding-top:5px;
    padding-top:5px;
}

